<header style="padding-bottom: 2em">
  <p class="author">Anna Lina Petrusevičiūtė Sjur</p>
  <table style="width: 100%; table-layout: fixed">
    <tr>
      <td style="width: 33.33%; text-align: center">
        <i><a href="/">Home</a></i>
      </td>
      <td style="width: 33.33%; text-align: center">
        <i><a href="/cv.html">Curriculum Vitae</a></i>
      </td>
      <td style="width: 33.33%; text-align: center">
        <i><a href="/portfolio.html">Portfolio</a></i>
      </td>
    </tr>
  </table>
</header>
